
# Created by https://www.gitignore.io/api/java,maven

### Java ###
# Compiled class file
*.class

# Log file
*.log
*.settings

#Other
*.DS_Store
*.project
*.classpath

# Package Files #
*.jar

### Maven ###
target/
.mvn/wrapper

# End of https://www.gitignore.io/api/java,maven
